
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499923355711'); /* IE9*/
  src: url('iconfont.eot?t=1499923355711#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499923355711') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499923355711') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499923355711#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  color: gainsboro;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before { content: "\e622"; }

.icon-gangwei:before { content: "\e621"; }

.icon-mycenter:before { content: "\e66a"; }

.icon-chaxun:before { content: "\e643"; }

.icon-xiaoxi:before { content: "\e65a"; }

.icon-daohang:before { content: "\e600"; }

.icon-kaoqin:before { content: "\e641"; }

.icon-peixun:before { content: "\e606"; }

.icon-performance:before { content: "\e735"; }

