body,html{
	margin: 0;
	padding: 0;
} 
body{
	font-size: 1.4rem;
}
a:link{
	text-decoration: none;  
}
#app{
	padding-top: 10px;
}
.y-nav{
	padding-left: 5px;
}
.y-nav-link{
	display: inline-block;
	padding: 2px 3px;
	color: #333;
	font-size: 1.4rem;
}
.y-nav-link:link .y-nav-item{
	display: block;
    width: 40px;
    padding: 3px 0; 
    background-color: #e3adc4;
    text-align: center;
    border-radius: 3px;
}
.y-nav-link:hover .y-nav-item{
	background-color: #efcad9;
}
.y-nav-link .y-nav-item.y-visited{
	background-color: #b86790;
	font-weight: bold;
} 
.y-content{
	position: relative;
	padding-left: 20px;
	padding-right: 10px;
}
.y-content p{
	margin: 10px 0;
}
.y-content .y-title-header{
	display: inline-block;
    background-color: #c4e562;
    padding: 2px 15px;
    border-radius: 3px;
    color: #fff;
    text-shadow: 0 1px 1px #8c8c8c;
}
.y-content .y-header p{
	color: #98af05;
}
.y-content .y-quote{
	border-left: 3px solid #a2b332;
    padding-left: 20px;
    font-size: 1.4rem 
} 
.y-quote h4{
	display: inline-block; 
    margin: 0px 0px 0px -20px;
    background-color: #d1dbda;
    margin-left: -20px;
    padding: 5px 20px; 
}
.y-quote .y-moral{
	margin: 15px 0 40px 0;
}
.y-quote .y-bold{
	font-weight: bold;
	margin-right: 10px;
	color: #fff;
    text-shadow: 0 1px 1px #8c8c8c;
}
.y-quote .y-text-moral{
	display: inline-block;
    background-color: #c4e562;
    padding: 2px 15px;
    border-radius: 3px;
    color: #333;
    text-shadow: 0 1px 1px #ffffff;
}
/*记单词*/ 
.y-words-box{
	position: fixed;
	width: 0;
	bottom: 0;
	right: 0;
	height: 100%;
}
.y-words-box .y-inner{
	position: relative; 
	background-color: #fff;
	box-shadow: 0 3px 9px 1px #777;
	font-size: 1.2rem;
	height: 100%;
}
.y-words-btn{
	position: absolute;
	right: 0;
	top: 0; 
    padding: 8px 0;
    width: 70px;
    text-align: center;
    background-color: #b86790;
    color: #fff; 
    font-size: 1.4rem;
    cursor: pointer;
}
.y-arrow{
	display: inline-block;
    width: 0;
    height: 0;
    border-width: 17px;
    border-style: solid;
    border-color: transparent #b86790 transparent transparent;
    left: -34px;
    top: 0;
    position: absolute;
}
.y-words-content{ 
	padding: 10px;  
}
.y-text-index{
	font-weight: bold;
	color: #b86790;
	font-size: 1.4rem;
}
.y-text-spell{
	font-weight: bold; 
	margin: 0 5px 0 5px;
}
.y-text-speak{ 
    color: #999;
}
.y-text-level{
	color: #ff0081;
	font-weight: bold;
	font-size: 1.6rem;
}
.y-text-translate,
.y-input-box{
	padding-left: 15px;
}
.y-input-box input{
	border: 1px solid #d1dbda;
    padding: 5px;
    margin-bottom: 2px;
}
.y-transition-show{ 
	animation: showwords 1s forwards;
	-webkit-animation: showwords 1s forwards; /*Safari and Chrome*/ 
}
.y-transition-hide{
	animation: hidewords 1s forwards;
	-webkit-animation: hidewords 1s forwards; /*Safari and Chrome*/ 
}
@keyframes showwords {
	from { width:0;}
	to { width:300px;}
} 
@keyframes hidewords { 
	from { width:300px;}
	to { width:0;}
}  